@charset "utf-8";

body{
	color: #323232;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.5;
	background-color: #666;
}
	
#brand{
	float:left;
	width:400px;
}

h1{
	font-family:"Hoefler Text", Impact;
	display:inline;
}

#brand h1{
	position:relative;
	top:-10px;
}

h2{
	text-decoration:underline;
	
}

#mainpara{
	-moz-column-count:3;
	-moz-column-gap:50px;
}

#wrapper{
	 width: 1000px;
	 margin: 0 auto;
	 border: 3px solid yellow;
	 background-color: white;
}

header{
	height: 50px;
	background-color: orange;
}

ul{
	background:white;
	width:300px;
	list-style-type:none;
	padding:0;
	overflow:hidden;
	float:right;
	margin-right:10px;
}

li{
	width:100px;
	float:left;
}

a{
	text-align:center;
	text-decoration:none;
	display:block;
	height:30px;
	line-height:30px;
}

a:hover{
	background:red;
}