@charset "utf-8";
/*-------------------------Nav Elements-----------------------------------*/

body{
	color: #323232;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.5;
	background: #f0b7a1; /* Old browsers */
background: -moz-linear-gradient(top, #f0b7a1 0%, #bf6e4e 12%, #8c3310 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(12%,#bf6e4e), color-stop(100%,#8c3310)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f0b7a1 0%,#bf6e4e 12%,#8c3310 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f0b7a1 0%,#bf6e4e 12%,#8c3310 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f0b7a1 0%,#bf6e4e 12%,#8c3310 100%); /* IE10+ */
background: linear-gradient(to bottom, #f0b7a1 0%,#bf6e4e 12%,#8c3310 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#8c3310',GradientType=0 ); /* IE6-9 */
}
	
ul{
	width:300px;
	list-style-type:none;
	padding:0;
	overflow:hidden;
	float:right;
	margin-right:10px;
}

ul li{
	width:100px;
	float:left;
}

a{
	text-align:center;
	text-decoration:none;
	display:block;
	height:30px;
	line-height:30px;
	color:white; 
	text-shadow:black 0.1em 0.1em 0.2em
}

a:visited{
	color:grey;

}

a:hover{
	background:black;
}



/*-------------------------------Main Content Elements --------------------------*/
#brand{
	float:left;
	width:500px;
}

h1{
	font-family: "Stalinist One", cursive;
	font-size:25px;
	display:inline;
	color:white; 
	text-shadow:black 0.1em 0.1em 0.2em
}

#brand h1{
	position:relative;
	top:-10px;
}

h2{
	text-decoration:underline;
	margin:0px 20px;
}

#mainpara{
	-ms-column-count:3;
	-ms-column-gap:50px;
	-moz-column-count:3;
	-moz-column-gap:50px;
	-webkit-column-count:3;
	-webkit-column-gap:50px;
	-o-column-count:3;
	-o-column-gap:50px;
	margin:0px 20px;
}

#wrapper{
	 width: 1000px;
	 margin: 0 auto;
	 background-color: white;
}

header{
	height: 50px;
	background-color: #0052a3;
}


#intropic img{
	text-align:center;
	margin-left:29%;
}

h3{
	text-decoration:underline;
	margin:10px 20px;
}

/*------------------------------------Gallery-------------------------------------*/


#pics  {
	border:1px dashed black;
	list-style-type:none;
	width:1000px;
	margin:20px auto;
	overflow:hidden;
	padding:5px;
}

#pics li{
	float:left;
	margin-left:19px;
}